@tailwind base;
@tailwind components;
@tailwind utilities;

/* Глобальні базові стилі */
body {
  @apply bg-backgroundColor text-primaryText font-sans;
}

@layer base {
  html {
    font-family: "Inter", sans-serif;
    color: theme("colors.primaryText");
    background-color: theme("colors.whitePrimary");
  }

  body {
    margin: 0;
    padding: 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: inherit;
  }

  p {
    margin: 0;
  }

  div {
    padding: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  button {
    font: inherit;
    border: none;
    background: none;
    cursor: pointer;
  }
}
